[Desktop Entry]
Type=Application
Name=Penguino-Doom
Comment=enhanced clone of the classic first-person shooter Doom
Icon=penguino-doom
TryExec=penguino-doom
Exec=penguino-doom %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;dsda-doom;
